// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
.hide{
    display: none!important;
}
.pagination .page-item.active .page-link{
    background-color: rgb(28,42,58)!important;
}
table th{
    font-weight: bold!important;
}
body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:100vh;
}
strong{
    font-weight: bold!important;
}
main {
    flex:1 0 auto;
}

footer {
    background:crimson;
}
.tienda-header{
    background: url("../statics/img/bg-secciones.jpg") no-repeat;
    background-size: cover;
}
.tienda-header h1{
    display: block;
    background-color: rgba(255,102,0,0.8);
    color: white;
}
.card-primary > .card-header{
     background: rgb(28,42,58);
     background: -moz-linear-gradient(top,  rgba(28,42,58,1) 0%, rgba(9,14,20,1) 100%);
     background: -webkit-linear-gradient(top,  rgba(28,42,58,1) 0%,rgba(9,14,20,1) 100%);
     background: linear-gradient(to bottom,  rgba(28,42,58,1) 0%,rgba(9,14,20,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2a3a', endColorstr='#090e14',GradientType=0 );
     color: white;
}
.user-icon{
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto .5em auto;
    background-color: white;
    color:black!important;
    border-radius:100px;
}
.menu-general-bg .nav-link{
    text-align: center!important;
}
.columna-categorias{
    border:1px solid black;
    border-radius: 5px;
}
.columna-categorias .nav-link{
    color: black;
    font-weight: bold;
}
.cabecera-columna{
    background: rgb(28,42,58);
    background: -moz-linear-gradient(top,  rgba(28,42,58,1) 0%, rgba(9,14,20,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(28,42,58,1) 0%,rgba(9,14,20,1) 100%);
    background: linear-gradient(to bottom,  rgba(28,42,58,1) 0%,rgba(9,14,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2a3a', endColorstr='#090e14',GradientType=0 );
    color: white;
    font-weight: bold;
    text-align: center;
    padding:0.5em 0.3em;
}
.columna-categorias .nav-link:hover,
.columna-categorias .nav-link.active{
    background-color: #FF7A00;
}
.columna-categorias li{
    border-bottom: 1px solid black;
}
.columna-categorias li:last-child{
    border-bottom: none;
}
@media(min-width: 768px){
    .buscador input{
        min-width: 340px!important;
    }
}

@media only screen and (min-width: 1025px){ //wanted it to show for screens above 1024

    .side-nav.fixed {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (min-width: 1025px) {
    .fixed-sn .double-nav,
    .fixed-sn footer {
        padding-left: 240px;
    }
}
@media (min-width: 1025px) {
    .double-nav .button-collapse {
        display: none;
    }
}
@media (max-width: 1025px) {
    .double-nav .button-collapse {
        display: block ;
        position: relative;
        font-size: 1.4rem;
        margin-right: 10px ;
        margin-left: 10px ;
    }
}
